<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src=" https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/btstrpfix.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-items-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Dashboard</a> </li>
                    <li><a href="/dashboard/bots">Bots</a></li>
                    <li><a href="/rule/overview">Rules</a></li>
                    <li><a href="/botchan/status">Status</a></li>
                </ul>
                <form action="/login" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                        <label class="sr-only" for="emailInput">Email</label>
                        <input id="emailInput" type="text" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="passwordInput">Password</label>
                        <input id="passwordInput" type="password" class="form-control" name="password"
                               placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                    <a href="/signup" class="btn btn-warning">Signup</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
</div>
</body>
</html>