<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src=" https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/rule.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/btstrpfix.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-items-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-items-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/botchan/status">Status</a></li>
                </ul>
                <form action="/login" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                        <label class="sr-only" for="emailInput">Email</label>
                        <input id="emailInput" type="text" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="passwordInput">Password</label>
                        <input id="passwordInput" type="password" class="form-control" name="password"
                               placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                    <a href="/signup" class="btn btn-warning">Signup</a>
                </form>
            </div>
        </div>
    </nav>
    <div  class="col-lg-4">
        <div class="list-group">
            {{#each rules}}
                <a href="#" class="list-group-item">
                    {{this.command}}
                    <span class="pull-right">
                    <form class=".forms">
                        <input name="idRuleList" type="hidden" value="{{this.id}}">
                        <button name="btnEdit" type="submit" class="btn btn-xs btn-info">Edit</button>
                    </form>
                </span>

                </a>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-8 rules-list">
        <form id="formEdit" class="form-horizontal">
            <div class="form-group">
                <label for="idRule">Id Rule</label>
                <input id="idRule" type="text" placeholder="Rule id" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="command">Command</label>
                <input id="command" type="text" placeholder="Command String" class="form-control">
            </div>
            <!-- Radio Boxex -->
            <div class="form-group">
                <label>Reply</label><br>
                <label class="radio-inline">
                    <input type="radio" name="replyRadios" id="replyRadios1" value="true" checked>
                    Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="replyRadios" id="replyRadios2" value="false">
                    No
                </label>
            </div>
            <div class="form-group">
                <label for="response">Response</label>
                <input id="response" type="text" placeholder="Responses" class="form-control">
            </div>
            <div class="form-group">
                <div id="errorBox" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <button name="btnEdit" type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>