<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src=" https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.confirm.min.js"></script>
    <script src="/javascripts/rule.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/btstrpfix.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-items-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-items-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/rule/overview">Rules</a></li>
                    <li><a href="/botchan/status">Status</a></li>
                </ul>
                <form action="/login" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                        <label class="sr-only" for="emailInput">Email</label>
                        <input id="emailInput" type="text" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="passwordInput">Password</label>
                        <input id="passwordInput" type="password" class="form-control" name="password"
                               placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                    <a href="/signup" class="btn btn-warning">Signup</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="list-group" style="height: 820px; overflow-y:scroll;" >
                {{#each rules}}
                    <a href="#" class="list-group-item clearfix">
                        {{this.command}}
                        <span class="pull-right">
                            <form class=".formsItem">
                                <input name="idRuleList" type="hidden" value="{{this.id}}">
                                <button name="btnEdit" type="submit" class="btn btn-xs btn-info" value="edit">
                                    Edit
                                </button>
                                <button name="btnDelete" type="submit" class="btn btn-xs btn-danger" value="delete">
                                    Delete
                                </button>
                            </form>
                        </span>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="rules-list col-lg-8 col-md-12 col-sm-12">
            <form id="formEdit" class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="idRule">Id Rule</label>
                        <input id="idRule" name="idRule" type="text" placeholder="Rule id" class="form-control"
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="command">Command</label>
                        <input id="command" name="command" type="text" placeholder="Command String" class="form-control"
                               required>
                    </div>
                </div>
                <!-- Radio Boxex -->
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Reply</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="replyRadios" id="replyRadios1" value="true" checked>
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="replyRadios" id="replyRadios2" value="false">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="response">Response</label>
                        <input id="response" name="response" type="text" placeholder="Responses" class="form-control"
                               required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div id="messageBox" class="alert alert-success"></div>
                    </div>
                    <div class="form-group">
                        <div id="errorBox" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button id="btnEdit" type="submit" class="btn btn-primary">Save</button>
                        <button id="btnAdd" class="btn btn-success">Add</button>
                        <a id="btnClear" class="btn btn-default">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>